html {
    height: 120%;
    position: relative;
    background-image: linear-gradient(to right bottom, #ca19c2, #c93bcb, #c951d3, #c963da, #c973e0, #dd75d6, #ed78cc, #fa7ec3, #ff81a5, #ff8c87, #ff9d6f, #fbb05f);;
}

h1 {
    text-align: center;
    font-size: 55px;
}

.top-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    transform: translateY(-135px);
}

.store-front {
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.copy {
    text-align: center;
}

.cp-box {
    text-align: center;
    margin: auto;
    width: 80%;

}

.cp-box--img {
    max-width: 200px;
}